body {
    height: 100vh;
    font-family: 'Barlow', sans-serif;
}

a {
    /* remove underline for all links */
    text-decoration: none;
    color: darkblue;
}

.container {
    height: calc(100vh - 150px);
}