.header-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    border-bottom: 1px solid white;
}

.header-element {
    /* change this if more elements added */
    width: 10%;
    padding: 10px;
    /* aligns vertically */
    margin: auto;
    text-align: center;
    border: 1px solid white;
    background-color: lightgray;
    font-size: 24px;
}

.header-photo {
    height: 90px;
    width: 70px;
    margin: auto;
    background-image: url('../images/Jay-headshot.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}